
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@1,900&family=Roboto:wght@500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.logo{
    font-size: x-small;
    font-weight: 600;
    color: #fff;

}
span{
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* height: 100vh; */
    background-color: rgb(23, 205, 205);
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    list-style: none;
    padding-right: 10px;
}
header ul li a{
   
    text-decoration: none;
    color: #fff;
}
header ul li a:hover{
    background-color: rgb(36, 203, 203);
    font-size: 22px;
}
.rr{
  padding: 5px;
  border: 2px solid blue;
  border-radius: 10px;
}
.rr:hover{
    background-color: aqua;
}
.left{
    width: 40%;
}
.cont{
    background-color: rgb(23, 205, 205);
    display: flex;
    justify-content: space-between;
    
}
.left h2{
    padding-top: 80px;
    color:#fff;
    font-size: 22px;
}
.left{
   margin: 20px;
}

.right{
  width: 40%;
} 
.dbd{
    color: red;
    margin-top: 10px;
    font-size: 30px;

}
.icons{ 
    display: flex;
    justify-content: space-around;
}
.button{
    margin: 16px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}